[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

ipython = ">=5.5"
"django-extensions" = "*"
coverage = ">4,<5"
markdown = "*"
werkzeug = "*"
yapf = "*"
futures = "*"

[packages]

requests = "*"
"scrapy-djangoitem" = "*"
"python-dateutil" = "*"
djangorestframework = "*"
"django-filter" = "*"
"django-taggit" = "*"
"django-haystack" = "*"
elasticsearch = ">2,<3"
pytest = ">2.8,<3"
"pytest-django" = ">3,<4"
scrapy = "*"
django = ">=1.11,<2"
six = ">=1.11,<2"
raven = ">=6"